/*  your css code here. If applicable */
#card{
	
	width:200px;
	margin:150px;
	padding:50px;
	background-color:mintcream;
	box-shadow: 0px 0px 20px 0px #888888;
}
#buy{
	margin:0px 0px 0px 40px;
	background-color:#ef574c;
	border-radius: 15px;
  border: 2px solid #ef574c;
  padding: 20px; 
  width: 120px; 
}
	
}